<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Images</title>
</head>
<body>
    <h1>Upload Control and Experimental Images</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <label for="control_image">Control Image:</label>
        <input type="file" name="control_image" required><br><br>
        <label for="experimental_image">Experimental Image:</label>
        <input type="file" name="experimental_image" required><br><br>
        <button type="submit">Upload</button>
    </form>
</body>
</html>
